<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Traducir" value="I18n\idioma."/>
    <add key="ErrorfilePath" value="Error.log" />
    <add key="InformationalfilePath" value="info.log" />
    <add key="TraduccionfilePath" value="Traductor.log" />
    <add key="backend" value="DAL.Repositories.SqlServer" />
    <add key="backendSL" value="SL.DAL.Repository" />
    <add key="DALComponent" value="DAL" />
    <add key="BLLComponent" value="BLL" />
    <add key="UIComponent" value="UI" />
    <add key="SLComponent" value="SL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="Ingreso_Caja" value="1"/>
    <add key="Egreso_Caja" value="2"/>
  </appSettings>
  <connectionStrings>
    <add name ="Helper" connectionString="Untitled.chm"/>
    <add name="MainConString" connectionString="Data Source=(local);Initial Catalog= Gestion Stock ;Integrated Security=True" />
    <add name="SLConString" connectionString="Data Source=(local);Initial Catalog=Usuario_Perfil_Permiso;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>